/build/
/build-host/
/deliverables/
/build-xenon/
/platform/xenon/build/
/platform/xenon/build-desmume/
/platform/xenon/build-desmume-*/
/platform/xenon/build-noods/
/platform/xenon/loader/build/
/platform/xenon/release/
/platform/xenon/release-noods/
/platform/xenon/XenonDS-v*-source.tar.gz
/third_party/desmume/
/third_party/libxenon/
/third_party/noods/
/third_party/noods.incomplete/
*.elf
*.elf32
*.map
*.nds
*.dsv
*.sav
